
.app{
  height: 100vh;
  background-color: rgb(27, 25, 25);
  position: relative;
  display: grid;
  place-content: center;
}

/*******chessboard**********/

.chessboard{
  width: 320px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  position: relative;
}

.tile{
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
}

.piece{
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.piece:hover{
  cursor: grab;
}

.piece:active{
  cursor: grabbing;
}