
.app{
  height: 100vh;
  background-color: rgb(27, 25, 25);
  display: grid;
  place-content: center;
}

/*******chessboard**********/

.chessboard{
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
}

.tile{
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
}
